{% extends 'tasks_base.html' %}

{% block stylesheets %}
    <style>

        h1 {
            font-family: 'Berkeley Mono', monospace;
            margin-top: 0;
            font-size: 18px;
        }

        h2 {
            font-size: 15px;
            font-family: 'Berkeley Mono', monospace;
        }

        thead {
            font-family: 'Berkeley Mono', monospace;
            font-weight: bold;
        }

        #daily-suggestion-detail-content {
            display: grid;
            grid-template-columns: auto auto;
            justify-content: flex-start;
        }

        .daily-suggestion {
        border: 1px solid black;
            margin: 1rem;
            padding: 1rem;
            margin-left: 0;
            width: 670px;
            min-height: 700px;
        }

        .id {
                font-family: 'Berkeley Mono', monospace;
                text-align: right;
                padding: 1px 3px;
                border: 1px solid black;
            }

        select {
            width: 160px;
        }

        #picked-suggestions {
            border-spacing: 0;
            border-collapse: collapse;
            margin-top: 16px;

            .actions {
                visibility: hidden;
            }

            td {
                padding: 2px;
            }

            tr:hover td {
                background-color: bisque;
            }

            tr:hover .actions {
                visibility: visible;
            }
        }
    </style>
{% endblock %}


{% block content %}
    <div class="grid-content" id="daily-suggestion-detail">
        {% include 'daily_suggestions/sidebar.html' %}
        {% if message %}
            {{ message }}
        {% endif %}
        {% if daily_suggestion %}
            <div id="daily-suggestion-detail-content">
                <div class="daily-suggestion">
                    <h1>{{ daily_suggestion.date | date:"Y-m-d" }}</h1>

                    <table id="added-suggestions">
                        <thead>
                        <td>ID</td>
                        <td>TODO</td>
                        </thead>
                        <tbody>
                        {% for todo in daily_suggestion.added_todos.all|dictsortreversed:'id' %}
                            <tr>
                            <td>
                                <div class="id">{{ todo.id }}</div>
                            </td>
                            <td>{{ todo.description }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div id="pick-boxes">
                    <h2>Pick todos</h2>
                    <form
                            hx-post="{% url 'pick_todo' date=daily_suggestion.date %}"
                            hx-target="#picked-suggestions tbody"
                            hx-swap="beforeend"
                    >
                        <input type="hidden" name="daily_suggestion" value="{{ daily_suggestion.id }}">
                        <input type="hidden" name="criteria" value="priority">
                        <table>
                            <tr>
                                <td><label for="project">Project:</label></td>
                                <td>
                                    <select name="project">
                                        <option value="all">All</option>
                                        {% for project in projects %}
                                            <option value="{{ project.id }}">{{ project }}</option>
                                        {% endfor %}
                                    </select>
                            </tr>
                            <tr>
                                <td><label for="criteria">By:</label></td>
                                <td>
                                    <select name="criteria">
                                        <option value="priority">Priority</option>
                                        <option value="deadline">Deadline</option>
                                        <option value="?">Random</option>
                                    </select>
                            </tr>
                        </table>
                        <button type="submit">Pick</button>
                    </form>
                    <table id="picked-suggestions">
                        <tbody>
                        {% for todo in daily_suggestion.picked_todos.all|dictsortreversed:'id' %}
                            {% include 'daily_suggestions/pick_todo.html' with todo=todo date=daily_suggestion.date %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}