<aside id="daily-suggestions-sidebar">
    <fieldset>
        <legend>Quick links</legend>
        <ul>
            <li><a href="#">Tomorrow</a></li>
            <li><a href="#">Today</a></li>
        </ul>
        <form>
            <input type="date" name="daily-suggestion-link">
            <button type="submit" name="view-daily-suggestion">Go</button>
        </form>
    </fieldset>
    <fieldset>
        <legend>Need review</legend>
        <ul>
            <li><a href="#">2024-12-14</a></li>
            <li><a href="#">2024-12-13</a></li>
            <li><a href="#">2024-12-09</a></li>
        </ul>
    </fieldset>
</aside>