<div class="warning">
    <div class="title">Potential duplicate detected</div>
    <table class="large">
        <tbody>
        <tr>
            <th>Description</th>
            <td>
                {% if potential_duplicate_highlighted %}
                    {{ potential_duplicate_highlighted|safe }}
                {% else %}
                    {{ potential_duplicate.name }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Imported on</th>
            <td>{{ potential_duplicate.file_import.import_date }}</td>
        </tr>
        <tr>
            <th>Bank</th>
            <td>{{ potential_duplicate.bank_account }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>
                {% if potential_duplicate.matched_ynab_transaction %}
                PAIRED
                {% else %}
                NOT PAIRED
                {% endif %}
            </td>
        </tr>
        {% if potential_duplicate.matched_ynab_transaction %}
        <tr>
            <th>Matched memo</th>
            <td> {{ potential_duplicate.matched_ynab_transaction.memo }}</td>
        </tr>
        {% endif %}
        </tbody>
    </table>

    <h2>Actions</h2>
    <ul class="compact">
        <li>
            <form action="{% url 'link_duplicate_bank_transactions' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="bank_transaction_id" value="{{ potential_duplicate.id }}"/>
                <input type="hidden" name="target_bank_transaction_id" value="{{ target_bank_transaction.id }}"/>
                <input type="hidden" name="redirect-to" value="{% url 'pair_transactions_page' kind=kind %}"/>
                <button type="submit" class="warning-button">Mark current transaction as duplicate</button>
            </form>
        </li>
    </ul>

    <h2>Quick links</h2>
    <ul class="compact">
        <li>
            <a href="{% url 'bank_transaction_detail' bank_transaction_id=potential_duplicate.id %}">
                See BT{{ potential_duplicate.id }} detail
            </a>
        </li>
    </ul>
</div>