#split {
    display: flex;
    gap: 1rem;
    margin: 0 1rem;

    > div {
        width: 50%;
        overflow-x: auto;
    }
}

table {
    width: 100%;
}

table, th, td {
  border: 1px solid #333;
  border-collapse: collapse;
}

tr:hover td {
    background-color: bisque;
}

td.amount {
    background-color: papayawhip;
    text-align: right;
}

td {
    height: 1.8em;
    padding: 0 .2em;
}

#pairing-v2 {
    display: grid;
    grid-template: "[expense suggestions]"
}

#suggestions {
    grid-area: suggestions 1;
}

#expense {
    grid-area: expense 1;
}