#split {
    display: flex;
    gap: 1rem;

    > div {
        width: 50%;
        overflow-x: auto;
    }
}

table {
    margin: 5px;
}

table, th, td {
  border: 1px solid #333;
  border-collapse: collapse;
}

tr:hover td {
    background-color: bisque;
}

td.amount {
    background-color: papayawhip;
    text-align: right;
}

td {
    height: 1.8em;
    padding: 0 .2em;
}

#finances-navigation {
}