app = 'martin-duma'
primary_region = 'ams'
console_command = '/code/manage.py shell'

[build]

[env]
  PORT = '8000'

[http_service]
  internal_port = 8000
  force_https = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']
  auto_stop_machines = 'off'


[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1

[[statics]]
  guest_path = '/code/static'
  url_prefix = '/static/'

[mounts]
  source="martin_storage"
  destination="/storage"