[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-htmx = "*"
tablib = {extras = ["xlsx"], version = "*"}
gunicorn = "*"
python-dotenv = "*"
requests = "*"
psycopg = {extras = ["binary"], version = "*"}
whitenoise = "*"
dj-database-url = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.2"
