[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-htmx = "*"
tablib = {extras = ["xlsx"], version = "*"}
gunicorn = "*"
python-dotenv = "*"
requests = "*"
whitenoise = "*"
boto3 = "*"
django-treenode = "*"
ruff = "*"
openai = "*"
python-telegram-bot = "*"
pydantic = "*"
django-tables2 = "*"
pydub = "*"
fpdf2 = "==2.8.4"
django-recurrence = "==1.11.1"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.2"
