{% extends "base.html" %}

{% block title %}Projects{% endblock %}

{% block stylesheets %}
<style>
    .project-info {
        font-weight: bold;

        a {
            font-weight: normal;
        }
    }

    ul.project-tree > li {
        margin: 16px 0;
    }

    /* Tree structure styling */
    ul.project-tree,
    ul.task-list,
    ul.project-children {
        list-style-type: none;
        padding-left: 0;
        margin: 0;
    }

    ul.task-list,
    ul.project-children {
        padding-left: 20px;
        position: relative;
    }

    /* Tree lines */
    ul.task-list > li,
    ul.project-children > li {
        position: relative;
        padding-left: 20px;
    }

    ul.task-list > li::before,
    ul.project-children > li::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 12px;
        height: .7em;
        border-left: 1px solid #999;
        border-bottom: 1px solid #999;
    }

    ul.task-list > li::after,
    ul.project-children > li::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 1px;
        background: #999;
    }

    ul.task-list > li:last-child::after,
    ul.project-children > li:last-child::after {
        display: none;
    }
</style>
{% endblock %}

{% block content %}
<div class="fixed-content">
    <h1>Projects</h1>

    <form action="{% url 'project_create_page.main_render' %}" method="get">
        <button type="submit">Add root project</button>
    </form>

    <form action="{% url 'projects_page.actions.mark_tasks_complete' %}" method="post">
        {% csrf_token %}

        <ul class="project-tree">
            <li class="project-item">
                <div class="project-info">Unassigned</div>
                <ul class="task-list" id="orphan-task-list">
                {% for task in orphan_tasks %}
                    <li class="task-item">
                        <input type="checkbox" name="task_ids" value="{{ task.id }}" /> {{ task.description }}
                    </li>
                {% endfor %}
                    <li class="add-task-link" id="add-orphan-task-link">
                        <a href="{% url 'projects_page.partials.add_orphan_task_form' %}"
                           hx-get="{% url 'projects_page.partials.add_orphan_task_form' %}"
                           hx-target="#add-orphan-task-link"
                           hx-swap="beforebegin">+</a>
                    </li>
                </ul>
            </li>

            {% for project in root_projects %}
                {% include "partials/project_tree_item.html" with project=project %}
            {% endfor %}
        </ul>
        <button type="submit">Mark selected as done</button>
    </form>
</div>
{% endblock %}