{% extends 'tasks_base.html' %}

{% block content %}
<div class="grid-content">
    {% include 'flows_sidebar.html' %}
    <main>
        <h1>{{ inbox }}</h1>
        <table>
            <tbody>
                <tr>
                    <th>Created at:</th>
                    <td>{{ inbox.created_at }}</td>
                </tr>
                <tr>
                    <th>Context:</th>
                    <td>{{ inbox.context }}</td>
                </tr>
            </tbody>
        </table>
        <form>
            <fieldset>
                <legend>Actions:</legend>
                <button type="submit" value="process">Process</button>
                <button type="submit" value="process">Delete</button>
            </fieldset>
        </form>
    </main>
</div>
{% endblock %}