{% extends 'tasks_base.html' %}

{% block content %}
<div class="grid-content">
    {% include 'flows_sidebar.html' %}

    <main>
        {% if inbox is None %}
            No inboxes to process, hurray!
        {% else %}
        <h1>{{ inbox }}</h1>
        <table>
            <tbody>
                <tr>
                    <th>Created at:</th>
                    <td>{{ inbox.created_at }}</td>
                </tr>
                <tr>
                    <th>Context:</th>
                    <td>{{ inbox.context }}</td>
                </tr>
            </tbody>
        </table>
        <form action="{% url 'process_inbox' inbox_id=inbox.id %}" method="post">
            {% csrf_token %}
            <fieldset>
                <legend>Actions:</legend>
                <button name="status" type="submit" value="processed">Mark as processed</button>
                <button name="status" type="submit" value="deleted">Delete</button>
            </fieldset>
        </form>
        {% endif %}
    </main>
</div>
{% endblock %}