{% extends 'base.html' %}

{% block content %}
<div class="fixed-content">
    <h1>Bank transaction #{{ bank_transaction.id }}</h1>

    <table class="horizontal">
        <tbody>
            <tr>
                <th>Description</th>
                <td class="emphasis">{{ bank_transaction.name }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ bank_transaction.date|date:"Y-m-d" }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ bank_transaction.amount }}</td>
            </tr>
            <tr>
                <th>Bank account</th>
                <td>{{ bank_transaction.bank_account }}</td>
            </tr>
            <tr>
                <th>Imported in</th>
                <td>
                    <a href="{% url 'bank_file_import_detail_page.main_render' bank_file_import_id=bank_transaction.file_import.id %}">
                        {{ bank_transaction.file_import }}
                    </a>
                </td>
            </tr>
            <tr>
                <th>Paired with</th>
                <td>
                {% if bank_transaction.matched_ynab_transaction %}
                    <a href="{% url 'ynab_transaction_detail_page.main_render' ynab_transaction_id=bank_transaction.matched_ynab_transaction.id %}">
                        {{ bank_transaction.matched_ynab_transaction }}
                    </a>
                {% else %}
                    <span class="mono">NOT PAIRED</span>
                {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
    
</div>
{% endblock %}