form {
    margin-bottom: 0;
}

form > div {
    margin-bottom: .4rem;
}

button {
    background-color: var(--color-btn-background);
    color: var(--color-text);
    border: 1px solid var(--color-border-muted);
    border-radius: 4px;
    padding: 4px 6px;
    font-size: 13px;
    cursor: pointer;
    margin: 4px 0;
}

button:hover {
    background-color: rgb(243, 243, 247);
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

button:disabled:hover {
    background-color: var(--color-btn-background);
}

pre {
    text-transform: uppercase;
    display: inline-block;
    padding: 3px 6px;
    background-color: gainsboro;
}

input[type="text"], input[type="email"], input[type="password"], input[type="url"], input[type="tel"], input[type="search"] {
    color: var(--color-text);
    border: 1px solid var(--color-border-muted);
    border-radius: 4px;
    padding: 3px 5px;
    font-size: 13px;
    font-family: 'Berkeley Mono', 'SF Pro', monospace;
    box-shadow: none;
    min-height: 28px;
    box-sizing: border-box;
}

textarea {
   font-family: 'Berkeley Mono', 'SF Mono', monospace;
   font-size: inherit;
}


.ts-wrapper,
.pairing-form input[type="text"],
table.form input,
table.form textarea {
    width: 340px;
}

/* Tom Select customization */
.ts-control {
    border: 1px solid var(--color-border-muted);
    border-radius: 4px;
    padding: 4px 6px;
    font-size: 13px;

    input {
        width: 100px !important;
    }
}

