/* ==========================================================================
   VARIABLES
   ========================================================================== */
:root {
    --main-navbar-height: 30px;

    --color-text: #1a1a1a;
    --color-text-secondary: #333333;
    --color-text-muted: #666666;
    --color-text-link: white;
    --color-text-inverted: #ffffff;

    --color-background-primary: white;
    --color-background-box: white;
    --color-background-secondary: gainsboro;
    --color-background-hover: bisque;
    --color-background-highlight: papayawhip;


    --color-border-secondary: #b3b3b6;
    --color-border-muted: #999999;
    --color-border-light: #aaaaaa;

    --color-sidebar: #1f1f1f;
    --color-background-sidebar: rgb(169, 180, 195);
    --color-sidebar-link: #1b1b1b;
    --color-btn-background: rgb(233, 233, 237);
}

body {
    font-family: 'Inter V', 'American Typewriter', serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    background-color: var(--color-background-primary);
    color: var(--color-text);

}

a {
    color: blue;
}

main {
    grid-area: content;
    margin: 0;
    padding: 0;
    background-color: var(--color-background-primary);
}

.content {
    padding: .5em 2.1em;
}

h1 {
    border-bottom: 1px solid #444;
    padding-bottom: 4px;
}

.grid-content {
    display: grid;
    grid-template-columns: minmax(200px, 300px) 1fr;
    grid-template-areas: "sidebar content";
    min-height: 100vh;
}

/* ==========================================================================
   NAVIGATION & SIDEBAR
   ========================================================================== */

#title {
    font-size: 24px;
    display: inline-block;
    margin-right: 1rem;
    margin-left: 1rem;
    font-weight: bold;
    height: var(--main-navbar-height);
    color: var(--color-text);
}

aside {
    margin: 0;
    padding: 0;
    display: block;
    grid-area: sidebar;
    background-color: var(--color-background-sidebar);
    color: var(--color-sidebar);
    min-height: 100vh;
    border-right: 1px solid var(--color-border-secondary);
}

/* Sidebar Navigation */
#sidebar-navigation {
    padding: 1rem 0;
    border-bottom: none;
}

#sidebar-navigation > ul {
    margin: 0;
    padding-left: 16px;
}

#sidebar-navigation > ul > li {
    margin-left: 0;
    padding-bottom: 4px;
}

#sidebar-navigation > ul ul li {
    margin-left: -8px;
}

/* ==========================================================================
   TREE STRUCTURE
   ========================================================================== */
ul.tree {

    &, ul {
        list-style-type: none;
        padding: 0;
        padding-bottom: 6px;
    }


    li {
        position: relative;
        padding-left: 25px;
        margin: 0;
        font-size: 14px;
    }

    li a {
        text-decoration: underline;
        color: var(--color-sidebar-link);
        font-weight: 700;
    }

    li a,
    li span {
        display: inline-block;
        padding: 1px 0;
    }

    /* Vertical lines */

    li::before {
        content: "";
        position: absolute;
        height: 100%;
        left: 10px;
        top: 0;
        border-left: 1px solid var(--color-border-muted);
        z-index: 1;
    }

    /* Horizontal lines */

    li::after {
        content: "";
        position: absolute;
        width: 10px;
        height: 1px;
        left: 10px;
        top: 9px;
        border-top: 1px solid var(--color-border-muted);
    }

    /* Remove vertical line from last items */

    li:last-child::before {
        height: 9px;
    }

    /* First level doesn't need left border for first item */

    > ul > li:first-child::before {
        border-left: none;
    }

    a.active::before {
        color: red;
        content: "->";
        font-weight: bold;
        text-decoration: none;
        width: 20px;
        border: none;
        position: absolute;
        top: 0;
        left: 9px;
        z-index: 1;
    }



    ul:has(li a.active)::before {
        color: red;
        content: "->";
        font-weight: bold;
        text-decoration: none;
        width: 20px;
        border: none;
        position: absolute;
        top: 0;
        left: 9px;
        z-index: 1;
    }


    /*
    I spent so much time trying to implement a CSS-only version of a sidebar with full red lines and arrows before each
    selected item. And once I got it working... I didn't like that.

    Now, I know I should delete that, but... I am afraid I will forget it, and find it again will be hard.
    After all, if I'm proud of something, why not share it with the world?

    a.active::after {
        content: "";
        position: absolute;
        height: 9px;
        left: 10px;
        top: 0;
        border-left: 1px solid red;
        z-index: 1;
    }

    ul:has(li a.active)::after {
        content: "";
        position: absolute;
        height: 9px;
        left: 10px;
        top: 0;
        border-left: 1px solid red;
        z-index: 1;
    }
    
    li:has(~ li a.active)::before {
        border-left: 1px solid red;
    }*/
}
