#suggestions {
    margin-top: 48px;
    min-width: 200px;
    max-width: 400px;
    flex-shrink: 0;

    > div {
        min-width: 400px;
    }

    legend {
        text-transform: uppercase;
        font-family: "Berkeley Mono", monospace;
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 10px;
    }

    ul.compact {
        margin: 0;
        padding: 0;
        margin-inline: 7px;
        margin-block-start: 5px;
        padding-inline-start: 1em;
        list-style: none;
        border-left: 1px solid gainsboro;
    }

    h2 {
        margin: 0;
        font-size: 13px;
        text-transform: uppercase;
        margin-top: 1em;
        padding: 0 .2em;
    }

    /* WARNING VARIATION */
    .warning {
        .title {
            background-color: rgb(255, 240, 95);
            border: 1px solid black;
            padding: 2px 5px;
        }
    }

    /* WIP */
    .title {
        text-transform: uppercase;
        font-family: "Berkeley Mono", monospace;
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 3px;
    }
}

