table {
	width: 100%;
	margin-bottom: 1rem;
	border-collapse: separate;
	border-spacing: 0 1px;
	border: none;
	background: transparent;
}

th, td {
	padding: 3px 5px;
	font-size: 13px;
	position: relative;
}

th {
	font-weight: bold;
	text-align: left;
	text-transform: none;
	letter-spacing: normal;
	border: none;
	background-color: #e0e0e0;
	border-left: 1px solid #fff;
}

th a {
	color: #222;
	text-decoration: none;
	font-weight: 700;
}

td {
	width: auto;
	text-align: left;
	background-color: #f0f0f0;
	border-left: 1px solid #fff;
}



/* highlightable rows */
table.highlightable {
	tr:hover td {
	background-color: #e0e0e0;
}
}

th.horizontal {
	width: 1%;
	white-space: nowrap;
	padding-right: 2em;
}

/* Specialized cell types */
th.hidden {
	color: transparent;
	background-color: transparent;
	border-top-color: transparent;
	border-left-color: transparent;
}

td.selection {
	width: 2em;
	text-align: center;
	background-color: #ffffff;
}

td.amount {
	width: 6em;
	text-align: right;
	font-family: 'Berkeley Mono', monospace;
	font-size: 12px;
	font-weight: 500;
	background-color: #fff8dc;
}
