.tabs-container {
  width: 100%;
  margin: 20px 0;
}

.tabs-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  border-bottom: 1px solid var(--color-border-primary);
}

.tabs-nav li {
  padding: 4px 8px;
  cursor: pointer;
  border: 1px solid var(--color-border-secondary);
  border-bottom: 1px solid var(--color-border-primary); /* Tutti i tab hanno bordo sotto */
  margin-right: 5px;
  position: relative;
  margin-bottom: -1px;
  color: var(--color-text-muted);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.tabs-nav li.active {
  background-color: var(--color-background-tab-active);
  border: 1px solid var(--color-border-primary);
  border-bottom: 1px solid var(--color-background-tab-active);
  color: black;
  /*font-weight: 600;*/
}

:root[data-theme="dark"] .tabs-nav li {
  color: var(--color-text-muted);
}

:root[data-theme="dark"] .tabs-nav li.active {
  color: var(--color-text);
  border-color: var(--color-border-light);
}

.tab-content {
  display: none;
  padding: 0;
  border-top: none;
  padding-top: 10px;
}

.tab-content.active {
  display: block;
}
