{% extends 'base.html' %}
{% load django_tables2 %}

{% block content %}
<div class="fixed-content">
    <h1>Bank file import #{{ bank_file_import.id }}</h1>

    <table class="horizontal">
        <tbody>
            <tr>
                <th>Bank account</th>
                <td>{{ bank_file_import.bank }}</td>
            </tr>
            <tr>
                <th>Imported on</th>
                <td>{{ bank_file_import.import_date | date:"Y-m-d" }}</td>
            </tr>
            {% if time_window_days %}
            <tr>
                <th>Time window</th>
                <td>
                    {{ first_transaction.date | date:"Y-m-d" }} -> {{ last_transaction.date | date:"Y-m-d" }} ({{ time_window_days }} days)
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>

    <h2>Bank Transactions created from this import</h2>
    {% render_table bank_transactions_table %}
    
</div>
{% endblock %}