{% extends 'base.html' %}

{% block content %}
    <div class="fixed-content">
        <h1>{{ ynab_transaction }}</h1>
    <table>
        <tbody>
            <tr>
                <th>Description</th>
                <td>{{ ynab_transaction.memo }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ ynab_transaction.date|date:"Y-m-d" }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ ynab_transaction.amount }}</td>
            </tr>
        </tbody>
    </table>
    </div>
{% endblock %}