{% extends 'finances_base.html' %}

{% block content %}
<form action="{% url 'ynab-sync' %}" method="post">
    <fieldset>
        <legend>Actions</legend>
        <button type="submit" name="ynab-sync" value="partial-sync">Sync from YNAB</button>
    </fieldset>
    {% csrf_token %}
</form>
<main id="pairing-v2">
    <div id="expense">
        <h1>{{ expense.name }}</h1>
        <dl>
            <dt>Date</dt>
            <dd>{{ expense.date | date:"d.m.Y" }}</dd>
            <dt>Amount</dt>
            <dd>{{ expense.amount }}€</dd>
            <dt>Source</dt>
            <dd>{{ expense.file_import.file_type }}</dd>
        </dl>
    </div>
    <div id="suggestions">
        <div>
            <h2>No-pair actions</h2>
            <h3>Snooze the bank expense</h3>
            <p>Lorem ipsum yadda yadda you know the rest</p>
            <form action="{% url 'snooze-expense' bankexpense_id=expense.id %}" method="post">
                {% csrf_token %}
                <button type="submit">Snooze</button>
            </form>
            <h3></h3>
            <form>
                <h3>Create transaction from bank expense</h3>
                <p>Well, here the help text can actually help</p>
                <input type="text" name="memo" />
                <select name="category">
                    {% for category in ynab_categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Create transaction</button>
            </form>
        </div>


        {% if same_amount_suggestions %}
        <div id="same-amount-suggestions">
            <form action="{% url 'pair-expense-transaction' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="expense" value="{{ expense.id }}" />
                <h2>Same amount</h2>
                <table>
                    <tbody>
                    {% for transaction in same_amount_suggestions %}
                    <tr>
                        <td class="selection"><input type="radio" name="ynab-transaction" value="{{ transaction.id }}"/></td>
                        <td class="amount">{{ transaction.amount | floatformat:2 }}</td>
                        <td>{{ transaction.memo }}</td>
                        <td class="date">{{ transaction.date | date:"d.m.Y" }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <button type="submit">Pair expenses</button>
            </form>
        </div>
        {% endif %}

        {% if similar_date_suggestions %}
        <div id="similar-date-suggestions">
            <form action="{% url 'pair-expense-transaction' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="expense" value="{{ expense.id }}" />
                <input type="hidden" name="override-amount" value="true" />
                <h2>Similar date</h2>
                <table>
                    <tbody>
                    {% for transaction in similar_date_suggestions %}
                    <tr>
                        <td class="selection"><input type="radio" name="ynab-transaction" value="{{ transaction.id }}"/></td>
                        <td class="amount">{{ transaction.amount | floatformat:2 }}</td>
                        <td>{{ transaction.memo }}</td>
                        <td class="date">{{ transaction.date | date:"d.m.Y" }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <button type="submit">Equalize and pair</button>
            </form>
        </div>
        {% endif %}

        <div id="ai-suggestions">
            <h2>AI suggested</h2>
            <button>Equalize and pair</button>
        </div>

        <div>
            <h2>More</h2>
            <button>Create new expense</button>
        </div>
    </div>
</main>
{% endblock %}