<nav id="finances-navigation" class="sub-navigation">
    <a class="tab{% if request.resolver_match.url_name == 'expenses_pairing_view' %} active{% endif %}"
       href="{% url 'expenses_pairing_view' %}">Pairing v1</a>
    <a class="tab{% if request.resolver_match.url_name == 'pairing_v2' %} active{% endif %}"
       href="{% url 'pairing_v2' %}">Pairing v2</a>
    <a class="tab{% if request.resolver_match.url_name == 'file-import' %} active{% endif %}"
       href="{% url 'file-import' %}">Upload file</a>
    <a class="tab{% if request.resolver_match.url_name == 'ynab-synchronizations-list' %} active{% endif %}"
       href="{% url 'ynab-synchronizations-list' %}">Sync with YNAB</a>
</nav>