{% extends "base.html" %}

{% block content %}
<div class="fixed-content">
	<h1>Create New Flashcard</h1>

	<form method="post" action="{% url 'flashcard_create_page.actions.create_flashcard' %}">
		{% csrf_token %}
		<table class="form">
			<tbody>
				<tr>
					<th>{{ form.question.label_tag }}</th>
					<td>
						{{ form.question }}
						{% if form.question.errors %}
							<div style="color: red;">{{ form.question.errors }}</div>
						{% endif %}
					</td>
				</tr>
				<tr>
					<th>{{ form.answer.label_tag }}</th>
					<td>
						{{ form.answer }}
						{% if form.answer.errors %}
							<div style="color: red;">{{ form.answer.errors }}</div>
						{% endif %}
					</td>
				</tr>
				<tr>
					<th>{{ form.tags.label_tag }}</th>
					<td>
						{{ form.tags }}
						{% if form.tags.errors %}
							<div style="color: red;">{{ form.tags.errors }}</div>
						{% endif %}
						<small style="display: block; margin-top: 5px; color: #666;">
							Enter tags separated by commas
						</small>
					</td>
				</tr>
			</tbody>
		</table>
		<button type="submit">Create Flashcard</button>
		<a href="{% url 'flashcard_list_page.main_render' %}" class="spaced-left">Back to list</a>
	</form>
</div>
{% endblock %}
