{% extends 'base.html' %}
{% load django_tables2 %}

{% block content %}
<div class="fixed-content">
    <h1>Bank file import #{{ bank_file_import.id }}</h1>

    <table class="large">
        <tbody>
            <tr>
                <th>File Name</th>
                <td class="emphasis">{{ bank_file_import.file_name }}</td>
            </tr>
            <tr>
                <th>File Type</th>
                <td>{{ bank_file_import.file_type }}</td>
            </tr>
            <tr>
                <th>Import Date</th>
                <td>{{ bank_file_import.import_date }}</td>
            </tr>
            <tr>
                <th>File Path</th>
                <td>{{ bank_file_import.bank_file.url }}</td>
            </tr>
        </tbody>
    </table>

    <h2>Bank Transactions Created</h2>
    {% render_table bank_transactions_table %}
    
</div>
{% endblock %}