{% load static %}
<!--

"Love as a principle, order as a foundation, and progress as a goal"

                                                Auguste Comte
-->
<html>
    <head>
        <title>Martin</title>

        <link rel="stylesheet" href="{% static '/tom-select/tom-select.css' %}" />
        <link rel="stylesheet" href="{% static '/styles/style.css' %}" />
        <link rel="stylesheet" href="{% static '/styles/forms.css' %}" />
        <link rel="stylesheet" href="{% static '/styles/tabs.css' %}" />
        <link rel="stylesheet" href="{% static '/styles/tables.css' %}" />
        <link rel="stylesheet" href="{% static '/styles/banks.css' %}" />
        <link rel="stylesheet" href="{% static '/styles/suggestions.css' %}" />
        <link rel="stylesheet" href="{% static '/styles/layout.css' %}" />
        <link rel="stylesheet" href="{% static '/styles/text-styles.css' %}" />

        {% block stylesheets %}{% endblock %}

        <script src="{% static 'htmx-2.0.8.js' %}" type="module" defer></script>
        <script src="{% static 'tabs.js' %}" type="module" defer></script>
        <script src="{% static 'tom-select/tom-select.complete.js' %}" type="module" defer></script>
    </head>
    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-boost="false">
        <div class="grid-content">
            <aside class="sidebar">
                {% include 'navigation.html' %}
            </aside>
            <main class="content">
                {% block content %}{% endblock %}
            </main>
        </div>
        <script>

            // Initialize Tom Select on all available selects
            window.addEventListener('load', function () {
                const inputs = document.querySelectorAll('.tom-select');
                if (inputs.length > 0) {
                    new TomSelect('.tom-select', {});
                }
            });
        </script>
    </body>
</html>
