{% extends 'base.html' %}

{% block content %}
    <div class="fixed-content">
        <h1>Daily suggestions</h1>

        <a href="{% url 'daily_suggestions_editor_page.main_render' date=today %}">Today</a>
        <a href="{% url 'daily_suggestions_editor_page.main_render' date=tomorrow %}">Tomorrow</a>

        <h2>Previous entries</h2>
        {% for month, suggestions in grouped_by_month.items %}
            <h3>{{ month }}</h3>
            {% for ds in suggestions %}
                <a href="{% url 'daily_suggestions_editor_page.main_render' date=ds.date %}">
                    {{ ds.date|date:"l d" }}
                </a>
                {% if not forloop.last %}
                    -
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}