{% extends 'base.html' %}


{% block stylesheets %}
    <style>
    #previous-entries {
        table-layout: fixed;
        max-width: 100%;

        td {
            padding: 0;
            text-align: center;
        }

        th.day {
            padding-left: 1px;
            padding-right: 1px;
            text-align: center;
        }

        th.month {
            width: 4em;
        }

        td.invalid {
            background-color: white;
        }
    }

    </style>
{% endblock %}

{% block content %}
    <div class="fixed-content">
        <h1>Daily suggestions</h1>

        <a href="{% url 'daily_suggestions_editor_page.main_render' date=today %}">Today</a>
        <a href="{% url 'daily_suggestions_editor_page.main_render' date=tomorrow %}">Tomorrow</a>

        <h2>Previous entries</h2>
        <table id="previous-entries" class="highlightable">
        <thead>
            <tr>
                <th class="hidden month"></th>
                {% for day in days_in_month %}
                <th class="day">{{ day }}</th>
                {% endfor %}
            </tr>
        </thead>
        {% for row in previous_entries_matrix %}
            <tr>
                <th class="month">{{ row.month }}</th>
                {% for day in row.entries %}
                    {% if day == 'INVALID' %}
                        <td class="day invalid"></td>
                    {% else %}
                        <td class="day">
                        {% if day %}
                            <a href="{% url 'daily_suggestions_editor_page.main_render' date=day.date %}">
                            {{ day.date.day }}
{#                                ✓#}
                            </a>
                        {% endif %}
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </table>
    </div>
{% endblock %}