{% extends 'base.html' %}

{% block content %}
    <div class="fixed-content">
        <h1>{{ daily_suggestion }}</h1>
        <form method="post" action="{% url 'save_daily_suggestion' date=daily_suggestion.date %}">
            {% csrf_token %}
            <div>
                <textarea name="content" rows="20" cols="80">{{ daily_suggestion.content|default:'' }}</textarea>
            </div>
            <button type="submit">Save</button>
        </form>
        <div>
            <a href="{% url 'daily_suggestion_pdf' date=daily_suggestion.date %}">Download PDF</a>
        </div>
    </div>
    <div id="suggestions">
    {% if active_recurring_suggestions %}
        <div>
            <div class="title">Recurring suggestions</div>
            <table class="large">
            <tbody>
            {% for suggestion in active_recurring_suggestions %}
                <tr>
                    <td>{{ suggestion.content }}</td>
                    <td style="width: 10px;"><button type="button">Add</button></td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
    {% endif %}
    </div>
{% endblock %}