{% extends "base.html" %}

{% block content %}
<div class="fixed-content">
    <h1>Capture New Inbox Item</h1>

    {% if creation_success %}
        <pre>CREATION SUCCEEDED</pre>
    {% endif %}

{# TODO split this action #}
    <form method="post">
        {% csrf_token %}
        <table class="form">
            <tbody>
                <tr>
                    <th>{{ form.content.label_tag }}</th>
                    <td>
                        {{ form.content }}
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="submit">Capture Item</button>
    </form>
</div>
{% endblock %}