{% load active_link %}

<nav id="sidebar-navigation">
    <div id="title">Martin</div>

    <ul class="tree">
        <li>
            <a href="{% url 'welcome_page.main_render' %}"
               class="{% active request 'welcome_page.main_render' 'active' False %}">
                Welcome back
            </a>
        </li>

        <li>
            Efficiency
            <ul>
                <li>
                    <a href="{% url 'capture_inbox_page.main_render' %}"
                       class="{% active request 'capture_inbox_page.main_render' %}">
                        Collect inbox item
                    </a>
                </li>
                <li>
                    <a href="{% url 'process_inboxes_page.main_render' %}"
                       class="{% active request 'process_inboxes_page.main_render' %}">
                        Empty inbox
                    </a>
                </li>
                <li>
                    <a href="{% url 'simple_tasks_page.main_render' %}"
                       class="{% active request 'simple_tasks_page.main_render' %}">
                        Simple todo list
                    </a>
                </li>
                <li>
                    <a href="{% url 'daily_suggestions_intro_page.main_render' %}"
                       class="{% active request 'daily_suggestions_intro_page.main_render' %}">
                        Daily suggestions
                    </a>
                </li>
                <li>
                    <a href="{% url 'project_list_page.main_render' %}"
                       class="{% active request 'project_list_page.main_render' %}">
                        Projects
                    </a>
                </li>
                <li>Calendar integration</li>
            </ul>
        </li>

        <li>
            Finances
            <ul>
                <li>Mortgage dashboard</li>
                <li>
                    Transactions pairing
                    <ul>
                        <li>
                            <a href="{% url 'pair_transactions_page.main_render' kind="personal" %}"
                               class="{% active request 'pair_transactions_page.main_render' kind='personal' %}">
                                Personal account
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'pair_transactions_page.main_render' kind="shared" %}"
                               class="{% active request 'pair_transactions_page.main_render' kind='shared' %}">
                                Shared account
                            </a>
                        </li>
                    </ul>
                </li>
                <li>Expense analysis</li>
                <li>
                    <a href="{% url 'import_bank_export_page.main_render' %}"
                       class="{% active request 'import_bank_export_page.main_render' %}">
                        Bank accounts integration
                    </a>
                </li>
                <li>
                    <a href="{% url 'ynab_integration_page.main_render' %}"
                       class="{% active request 'ynab_integration_page.main_render' %}">
                        YNAB integration
                    </a>
                </li>
            </ul>
        </li>
        <li>
            Memory
            <ul>
                <li>
                    <a href="{% url 'event_list_page.main_render' %}"
                       class="{% active request 'event_list_page.main_render' %}">
                        Events
                    </a>
                </li>
                <li>
                    <a href="{% url 'document_list_page.main_render' %}"
                       class="{% active request 'document_list_page.main_render' %}">
                        Documents
                    </a>
                </li>
                <li>Physical objects location</li>
            </ul>
        </li>
        <li>
            Low-level entities - To Be Removed
            <ul>
                <li><a href="{% url 'bank_transaction_list_page.main_render' %}"
                       class="{% active request 'bank_transaction_list_page.main_render' %}">Bank transactions</a></li>
                <li><a href="{% url 'bank_file_import_list_page.main_render' %}"
                       class="{% active request 'bank_file_import_list_page.main_render' %}">Bank imports</a></li>
            </ul>
        </li>
    </ul>
</nav>
