{% extends 'base.html' %}

{% block content %}
<div class="fixed-content">
        <dl>
            <dt>Description</dt>
            <dd class="emphasis">{{ expense.name }}</dd>
            <dt>Date</dt>
            <dd>{{ expense.date | date:"d.m.Y" }}</dd>
            <dt>Amount</dt>
            <dd>{{ expense.amount }}€</dd>
            <dt>Source</dt>
            <dd>{{ expense.file_import.file_type }}</dd>
        </dl>
        <div>
            <h2>No-pair actions</h2>
            <h3>Snooze the bank expense</h3>
            <form action="{% url 'snooze-expense' bankexpense_id=expense.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="redirect-to" value="{% url 'pairing' kind=kind %}" />
                <button type="submit">Snooze</button>
            </form>
            <h3>Create transaction from bank expense</h3>
            <form action="{% url 'create-ynab-transaction' kind=kind %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="redirect-to" value="{% url 'pairing' kind=kind %}" />
                {{ transaction_creation_form }}
                <button type="submit">Create transaction</button>
            </form>
        </div>


        {% if same_amount_suggestions %}
        <div id="same-amount-suggestions">
            <form action="{% url 'pair-expense-transaction' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="expense" value="{{ expense.id }}" />
                <input type="hidden" name="redirect-to" value="{% url 'pairing' kind=kind %}" />
                <h2>Same amount</h2>
                <table>
                    <tbody>
                    {% for transaction in same_amount_suggestions %}
                    <tr>
                        <td class="selection"><input type="radio" name="ynab-transaction" value="{{ transaction.id }}"/></td>
                        <td class="amount">{{ transaction.amount | floatformat:2 }}</td>
                        <td>{{ transaction.memo }}</td>
                        <td class="date">{{ transaction.date | date:"d.m.Y" }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <button type="submit">Pair expenses</button>
            </form>
        </div>
        {% endif %}

        {% if similar_date_suggestions %}
        <div id="similar-date-suggestions">
            <form action="{% url 'pair-expense-transaction' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="expense" value="{{ expense.id }}" />
                <input type="hidden" name="override-amount" value="true" />
                <h2>Similar date</h2>
                <table>
                    <tbody>
                    {% for transaction in similar_date_suggestions %}
                    <tr>
                        <td class="selection"><input type="radio" name="ynab-transaction" value="{{ transaction.id }}"/></td>
                        <td class="amount">{{ transaction.amount | floatformat:2 }}</td>
                        <td>{{ transaction.memo }}</td>
                        <td class="date">{{ transaction.date | date:"d.m.Y" }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <button type="submit">Equalize and pair</button>
            </form>
        </div>
        {% endif %}
</div>
{% endblock %}