{% extends 'base.html' %}

{% block content %}
    <div class="fixed-content">
        <h1>Pairing bank transaction #{{ bank_transaction.id }}</h1>
        <table class="horizontal">
            <tbody>
            <tr>
                <th>ID</th>
                <td class="mono">{{ bank_transaction.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td class="emphasis">{{ bank_transaction.name }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ bank_transaction.date | date:"Y-m-d" }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ bank_transaction.amount }}€</td>
            </tr>
            <tr>
                <th>Account</th>
                <td>{{ bank_transaction.bank_account }}</td>
            </tr>
            <tr>
                <th>Imported in</th>
                <td>
                    <a href="{% url 'bank_file_import_detail' bank_file_import_id=bank_transaction.file_import.id %}">
                        {{ bank_transaction.file_import }}
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

        <h2>Same amount</h2>
        {% if same_amount_suggestions %}
            <div id="same-amount-suggestions">
                <form action="{% url 'pair_transactions_page.actions.pair_transactions' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="bank_transaction" value="{{ bank_transaction.id }}"/>
                    <input type="hidden" name="redirect-to" value="{% url 'pair_transactions_page.main_render' kind=kind %}"/>
                    <table class="highlightable">
                        <thead>
                            <tr>
                                <th class="hidden" scope="col"></th>
                                <th scope="col">Amount</th>
                                <th scope="col">Memo</th>
                                <th scope="col">Date</th>
                                <th scope="col">Date Diff</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for suggestion in same_amount_suggestions %}
                            <tr>
                                <td class="selection"><input type="radio" name="ynab-transaction"
                                                             value="{{ suggestion.transaction.id }}"/></td>
                                <td class="amount">{{ suggestion.transaction.amount | floatformat:2 }}</td>
                                <td>{{ suggestion.transaction.memo }}</td>
                                <td class="date">{{ suggestion.transaction.date | date:"Y-m-d" }}</td>
                                <td class="date-diff">{{ suggestion.date_diff }} day{{ suggestion.date_diff|pluralize }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <button type="submit">Pair expenses</button>
                </form>
            </div>
        {% else %}
            <p>No uncleared YNAB transaction with the same amount found.</p>
        {% endif %}

        <h2>Similar date</h2>
        {% if similar_date_suggestions %}
            <div id="similar-date-suggestions">
                <form action="{% url 'pair_transactions_page.actions.pair_transactions' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="bank_transaction" value="{{ bank_transaction.id }}"/>
                    <input type="hidden" name="override-amount" value="true"/>
                    <input type="hidden" name="redirect-to" value="{% url 'pair_transactions_page.main_render' kind=kind %}"/>
                    <table class="highlightable">
                        <thead>
                            <tr>
                                <th class="hidden"></th>
                                <th>Amount</th>
                                <th>Memo</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for transaction in similar_date_suggestions %}
                            <tr>
                                <td class="selection"><input type="radio" name="ynab-transaction"
                                                             value="{{ transaction.id }}"/></td>
                                <td class="amount">{{ transaction.amount | floatformat:2 }}</td>
                                <td>{{ transaction.memo }}</td>
                                <td class="date">{{ transaction.date | date:"Y-m-d" }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <button type="submit">Equalize and pair</button>
                </form>
            </div>
        {% else %}
            <p>No uncleared YNAB transaction found within the date range.</p>
        {% endif %}


        <h2>Create YNAB transaction</h2>
        <form action="{% url 'pair_transactions_page.actions.create_ynab_transaction' %}" method="post" class="pairing-form">
            {% csrf_token %}
            <input type="hidden" name="kind" value="{{ kind }}" />
            <input type="hidden" name="redirect-to" value="{% url 'pair_transactions_page.main_render' kind=kind %}"/>
            {{ transaction_creation_form.bank_transaction_id }}
            <table class="form">
                <tbody>
                <tr>
                    <th>{{ transaction_creation_form.memo.label_tag }}</th>
                    <td>{{ transaction_creation_form.memo }}</td>
                </tr>
                <tr>
                    <th>{{ transaction_creation_form.ynab_category.label_tag }}</th>
                    <td>{{ transaction_creation_form.ynab_category }}</td>
                </tr>
                </tbody>
            </table>
            <button type="submit">Create transaction</button>
        </form>
        <h2>Snooze the bank transaction</h2>
        <form action="{% url 'pair_transactions_page.actions.snooze_bank_transaction' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="bank_transaction_id" value="{{ bank_transaction.id }}"/>
            <input type="hidden" name="redirect-to" value="{% url 'pair_transactions_page.main_render' kind=kind %}"/>
            <button type="submit">Snooze</button>
        </form>
    </div>
    <div id="suggestions">
    {% if potential_duplicate %}
        {% include "components/potential_duplicate_warning.html" with potential_duplicate=potential_duplicate target_bank_transaction=bank_transaction%}
    {% endif %}
    </div>
{% endblock %}