:root {
    --action-bar-height: 30px;
    --main-navbar-height:30px;
}

body, td {
    font-size: 14px;
}

body {
    font-family: "Berkeley Mono", monospace;
    margin: .2rem;
    padding: 0;
}

#split {
    width: 100%;
    display: flex;
    gap: 1rem;
    height: calc(100svh - var(--action-bar-height) - var(--main-navbar-height) - 1rem);


    > div {
        width: 50%;
        overflow-x: auto;
    }
}

table {
    width: calc(100% - 10px);
    height: 100%;
    margin: 5px;
}

table, th, td {
  border: 1px solid #ddd;
}

tr:hover td {
    background-color: bisque;
}

td.amount {
    background-color: papayawhip;
    text-align: right;
}

form {
    margin-bottom: 0;
}

#action-bar {
    height: var(--action-bar-height);
}

#title {
    font-size: 24px;
    display: inline-block;
    margin-right: 1rem;
    font-weight: bold;
    height: var(--main-navbar-height);
}

nav#main-navigation {
    margin-bottom: .6rem;
}