:root {
    --action-bar-height: 30px;
    --main-navbar-height: 30px;
}

:root {
    --main-color: gray;
    --highlighted-main-color: #20A09F;
}

body, td {
    font-size: 14px;
}

body {
    font-family: 'SF Pro', sans-serif;
    margin: 0;
    padding: 0;
}

form {
    margin-bottom: 0;
}

#action-bar {
    height: var(--action-bar-height);
    padding: .2rem 1rem ;
    border: 1px solid black;
    margin: 1rem;
    display: flex;
    align-items: center;
}

#title {
    font-size: 24px;
    display: inline-block;
    margin-right: 1rem;
    margin-left: 1rem;
    font-weight: bold;
    height: var(--main-navbar-height);
    color: white;
}

#main-navigation {
    border-bottom: 1px solid black;
    padding-top: .8rem;

    &.tasks {
        &, .tab {
            background: #a34a68;
        }

        .tab:hover:not(.active) {
            background: #c96f8f;
        }
    }

    &.memory {
        &, .tab {
            background: #4a7194;
        }

        .tab:hover:not(.active) {
            background: #6a91b4;
        }
    }

    &.finances {
        &, .tab {
            background: #00807F;
        }

        .tab:hover:not(.active) {
            background: #20A09F;
        }
    }


    .tab {
        background: var(--main-color);
        color: #000;

        &.active {
            border-bottom-color: gainsboro;
            background-color: gainsboro;
        }

        &:hover:not(.active) {
            background: var(--highlighted-main-color);
        }
    }
}

.tab {
    display: inline-block;
    border: 1px solid black;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    text-decoration: none;
    padding: 4px;
    margin-bottom: -1px;

    &.active {
        border-bottom-color: white;
    }

    &:hover, &.active {
        background-color: white;
        color: black;
    }
}

.sub-navigation {
    padding-top: .6rem;
    border-bottom: 1px solid black;
    padding-left: 1rem;
    background-color: gainsboro;

    .tab:not(.active) {
        color: #aaa;
        border-color: #aaa;
        border-bottom-color: black;
    }
}

main {
    font-family: "SF Pro", "Helvetica", sans-serif;
    padding: .6rem 1rem;
    grid-area: 'content';
}

form > div {
    margin-bottom: .4rem;
}

fieldset {
    border: 1px solid black;
    margin: .6rem 1rem;
}

.grid-content {
    display: grid;
    grid-template-columns: minmax(200px, 300px) 1fr;
    grid-template-areas: "sidebar content";
}

aside {
    margin: 30px 10px;
    background-color: gainsboro;
    display: block;
    grid-area: 'sidebar';
}

th {
    text-align: left;
}