table {
    width: 100%;
    margin-bottom: 1rem;
}

table, th, td {
  border: 1px solid #333;
  border-collapse: collapse;
}

tr:hover td {
    background-color: bisque;
}

td {
    height: 1.8em;
    padding: 0 .2em;
}

#pairing-v2 {
    display: grid;
    grid-template: "expense suggestions";
    grid-template-columns: 60% 40%;
}

#suggestions {
    grid-area: suggestions;
}

#expense {
    grid-area: expense;
}

td.date {
    width: 6em;
}

td.selection {
    width: 1em;
}

td.amount {
    background-color: papayawhip;
    text-align: right;
    width: 6em;
}
