{% extends "base.html" %}

{% block content %}
<div class="fixed-content">
    <h1>Create New Project</h1>

    <form method="post" action="{% url 'project_create_page.actions.create_project' %}">
        {% csrf_token %}
        <table class="form">
            <tbody>
                <tr>
                    <th>{{ form.title.label_tag }}</th>
                    <td>
                        {{ form.title }}
                    </td>
                </tr>
                <tr>
                    <th>{{ form.goal.label_tag }}</th>
                    <td>
                        {{ form.goal }}
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="submit">Create Project</button>
    </form>
</div>
{% endblock %}