<li class="project-item">
    <div class="project-info">
        {{ project.title }}
        <a href="{% url 'project_detail_page.main_render' project.id %}">↗</a>
        <a href="{% url 'projects_page.partials.add_subproject_form' project.id %}"
           hx-get="{% url 'projects_page.partials.add_subproject_form' project.id %}"
           hx-target="#project-children-{{ project.id }}"
           hx-swap="beforeend">↵</a>
    </div>

    <ul class="task-list" id="task-list-{{ project.id }}">
    {% for task in project.tasks.all %} {# Claude can you filter these at query level, instead of getting all? #}
        {% if task.status != 'completed' %}
        <li class="task-item">
            <input type="checkbox" name="task_ids" value="{{ task.id }}" /> {{ task.description }}
        </li>
        {% endif %}
    {% endfor %}
        <li class="add-task-link" id="add-task-link-{{ project.id }}">
            <a href="{% url 'projects_page.partials.add_project_task_form' project.id %}"
               hx-get="{% url 'projects_page.partials.add_project_task_form' project.id %}"
               hx-target="#add-task-link-{{ project.id }}"
               hx-swap="beforebegin">+</a>
        </li>
    </ul>


    {% with children=project.get_children %}
        <ul class="project-children" id="project-children-{{ project.id }}">
        {% for child in children %}
            {% include "partials/project_tree_item.html" with project=child %}
        {% endfor %}
        </ul>
    {% endwith %}

</li>
